.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  .navigate{
    display: flex;
  }
  .img_bttn{
    margin-left: 900px;
    padding-top: 80px;   
  }
  .img_bttn_back{
    padding-top: 80px; 
  }
  .home__row {
    z-index: 1;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: -50px; */
  }
  .home {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
  }